body {
	background-color: grey;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}


#container {
	margin: 50px auto;
	max-width: 600px;
	margin-top: 75px;
}

p{
	color: aliceblue;
    font-size: 800%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 10%;
}


#winner{
	display: none;
}

h1 {
	text-align: center;
	justify-self: center;
	line-height: 1.0;
	font-weight: normal;
	color: white;
	background: steelblue;
	margin: 0;
	/* margin-bottom: 1%; */
	text-transform: uppercase;
	/* padding: 10px 0; */
}

div{
	height: 40px;
	width: 340px;
}

.square {
	width: 30%;
    background: #232323;
    padding-bottom: 40%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
	cursor: pointer;
	/* transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s; */
}


#colorDisplay {
	font-size: 400%;
	background: transparent;
	align-self: center;
}

.header {
	height: 125px;
	width: 100%;
	display: grid;
}

#message {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	/* text-align: center; */
	font-size: 40px;
	color: black;

}

#turn{
	display: block;
	width: 20%;
	/* text-align: center; */
	font-weight: bold;
	font-size: 50px;
	color: black;
	margin: 0;
	justify-self: center;
}

#stripe {
	justify-content: center;
	background: rgb(179, 171, 171);
	height: 50px;
	text-align: center;
	color: black;
}


.selected {
	background-color: #232323;
	color: white;
	border: 2px solid black;
	cursor: pointer;
}

#reset{
	margin-right: 50px;
}

button {
	/* border: none; */
	/* background: none; */
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	/* color: steelblue; */
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

